h1{
   color:mediumseagreen;

}
label{
    font-size: larger;
    color:mediumaquamarine;  
}
table {
    table-layout: fixed;
    width: 80%;
    border-collapse: collapse;
    border: 5px solid mediumaquamarine;
}